.bg {
    background-image: url("https://images.hdqwalls.com/download/minimal-abstract-background-5k-hi-1920x1080.jpg");
    background-repeat: no-repeat;
    max-height: 150vh;
    background-size: cover;
}